!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8',
      'http-equiv' => 'Content-Type' }/
    %title Rails Twitter
    = stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %header.jumbotron
      .container
        .text-center
          %h1 Rails Twitter
    = yield
    %footer
      .container
        .text-center
          Copyright © Sako Corporation. All rights reserved.
